/* master rules / wildcards */
* {
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: 'junicodebeta-condensedlight';
  src: url('assets/fonts/JunicodeTwoBeta-CondensedLight.otf');
}

@font-face {
  font-family: 'junicodebeta-condensedlightitalic';
  src: url('assets/fonts/JunicodeTwoBeta-CondensedLightItalic.otf');
}

/* main styling */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-color: #db9f37;
  font-family: 'junicodebeta-condensedlight';
  font-size: 2rem;
  line-height: 1.2;
  max-width: 800px;
  margin-top: -1rem;
  margin-left: 2rem;
}

/* links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #9237ed;
  text-decoration: none;
}

a:hover {
  color: black;
  font-family: 'junicodebeta-condensedlightitalic';
  background-color: transparent;
}

a:active {
  color: #9237ed;
}

/* list styling */
ul {
  list-style-type: none;
  list-style-image: url('assets/img/burst.svg');
  font-family: 'junicodebeta-condensedlight';
  font-size: 2rem;
  line-height: 1.2;
  margin-left: 5.5rem;
}

li span {
  position: relative;
  left: 2rem;
}


/* image styling */
.img {
  margin-top: 3rem;
  margin-left: 5.5rem;
}
