* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-canvas {
  background-color: #F3E4CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 800px;
  position: relative;
}

.border {
  position: absolute;
  border: #F3E4CF solid 88px;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}

.sky {
  background-color: #86C4E6;
  height: 38%;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.tree-left {
  background-color: #9C9362;
  height: 70%;
  width: .65%;
  z-index: 1;
  position: absolute;
  left: 450px;
}

.tree-right {
  background-color: #9C9362;
  height: 70%;
  width: .65%;
  z-index: 1;
  position: absolute;
  left: 500px;
}

.grass {
  position: absolute;
  width: 28%;
  left: 42.5%;
  z-index: 20;
}

.house {
  background-color: #BB8D7A;
  height: 44%;
  width: 75%;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  z-index: 10;
  position;
  relative;
}

.roof-hatch {
  background-color: #E9EDF1;
  height: 3px;
  width: 95px;
  z-index: 100;
  position: absolute;
  bottom: 146px;
  left: 310px;
}

.roof-lip {
  border-bottom: 2px solid #F3E4CF;
  border-right: 3px solid transparent;
  transform: rotateX(180deg);
  height: 2px;
  width: 76.5%;
  z-index: 100;
  position: absolute;
  bottom: 144px;
}

.roof {
  border-bottom: 10px solid #D6C5A9;
  border-right: 7.5px solid transparent;
  transform: rotateX(180deg);
  height: 5px;
  width: 76%;
  z-index: 100;
  position: absolute;
  bottom: 134px;
}

.house-shadow {
  background-color: black;
  position: absolute;
  opacity: 20%;
  height: 5%;
  width: 75%;
  display: flex;
  z-index: 99;
}

.windows {
  background-color: #C9C5BD;
  height: 100%;
  width: 275px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.panels-left {
  background-color: #C9C5BD;
  height: 90%;
  width: 110px;
  display: flex;
  flex-direction: row-reverse;
}

.blinds-left {
  background-color: #AE9B88;
  height: 100%;
  width: 18px;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  z-index: 4;
}

.blinds-left-lines {
  background-color: #928677;
  height: 100%;
  width: 1px;
}

.glass-left {
  background-color: #929696;
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: row;
  position:relative;
  /* justify-content: space-around; */
}

.glass-left-buildings {
  background-color: #5D5F66;
  position: absolute;
  align-self: flex-end;
  height: 80%;
  width: 92px;
  z-index: 2;
}

.glass-left-trees {
  fill: #4A4953;
  position: absolute;
  align-self: flex-end;
  height: 68%;
  left:8px;
  bottom:0;
  z-index: 3;
}

.frame-left-1 {
  background-color: #C9C5BD;
  height: 100%;
  width: 2px;
  position: absolute;
  right: 32px;
  z-index: 3;
}

.panels-right {
  background-color: #C9C5BD;
  height: 90%;
  width: 146px;
  display: flex;
  flex-direction: row-reverse;
}

.blinds-right {
  background-color: #AE9B88;
  height: 100%;
  width: 28px;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  z-index: 4;
}

.blinds-right-lines {
  background-color: #928677;
  height: 100%;
  width: 1px;
}

.glass-right {
  background-color: #929696;
  height: 100%;
  width: 156px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.glass-right-buildings-1 {
  background-color: #5D5F66;
  position: absolute;
  align-self: flex-end;
  height: 80%;
  width: 24px;
  z-index: 2;
}

.glass-right-buildings-2 {
  background-color: #5D5F66;
  position: absolute;
  align-self: flex-end;
  height: 65%;
  width: 56px;
  left:24px;
  z-index: 2;
}

.glass-right-buildings-3 {
  background-color: #5D5F66;
  position: absolute;
  align-self: flex-end;
  height: 55%;
  width: 40px;
  left:80px;
  z-index: 2;
}

.glass-right-buildings-4 {
  background-color: #5D5F66;
  position: absolute;
  align-self: flex-end;
  height: 60%;
  width: 16px;
  left:120px;
  z-index: 2;
}

.glass-right-trees {
  fill: #4A4953;
  position: absolute;
  align-self: flex-end;
  height: 85%;
  left:0px;
  bottom:0;
  z-index: 3;
}

.frame-right-1 {
  background-color: #C9C5BD;
  height: 100%;
  width: 2px;
  position: relative;
  left: 48px;
  z-index: 3;
}

.frame-right-2 {
  background-color: #C9C5BD;
  height: 100%;
  width: 2px;
  position: relative;
  left: 98px;
  z-index: 3;
}

.ground {
  background-color: #CEAFA1;
  height: 8%;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
}

.ground-edge {
  background-color: #F3E4CF;
  height: 2%;
  width: 100%;
  display: flex;
}

.pool {
  background-color: #129BB4;
  height: 32%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.pool:hover {
  cursor: url('assets/splash-cursor.png'), pointer;
}

.splash {
  position: fixed;
  width: 400px;
  opacity: 0;
  align-items: center;
  top: 475px;
  transform: scale(.75);
  transition: all .25s;
}

.pool:hover .splash {
  position: fixed;
  z-index: 21;
  opacity: 1;
  width: 400px;
  top: 475px;
  transform: scale(1.25);
}

.pool-edge {
  background-color: #006AA5;
  height: 4%;
  width: 100%;
}

.diving-board {
  background-color: #CBC08F;
  position: absolute;
  align-self: flex-end;
  width: 13%;
  height: 18%;
  right: 150px;
  bottom: 65px;
  transform: scale(1.25, 0.95) rotate(-5deg) skew(40deg, 1deg);
  z-index: 99;
}
