* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0e4db;
}

/* Concentric Ponds */

.pond-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vw;
  width: 100vw;
  overflow: hidden;
}

.pond {
  height: 85%;
  margin: 0 auto;
  display: block;
}

.pond-5 {
  fill: url(#RadialGradient5);
  z-index: 22;
  padding: 4%;
  /* animation: water 1s infinite; */
}

.pond-4 {
  fill: url(#RadialGradient4);
  z-index: 33;
  padding: 10%;
}

.pond-3 {
  fill: url(#RadialGradient3);
  z-index: 44;
  padding: 14%;
}

.pond-2 {
  fill: url(#RadialGradient2);
  z-index: 55;
  padding: 19%;
}

.pond-1 {
  fill: url(#RadialGradient1);
  z-index: 66;
  padding: 25%;
}

/* Animation */
/*
@keyframes water {
  0% {
    fill: url(#RadialGradient5);
  }

  25% {
    fill: url(#RadialGradient4);
  }

  50% {
    fill: url(#RadialGradient3);
  }

  100% {
    fill: url(#RadialGradient2);
  }
} */
