* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0e4db;
  overflow:hidden;
}



/* Background boxs */
.box-container {
  width: 100vw;
  height: 100vh;
  z-index:1;
  justify-content: space-around;
  align-items: center;
  display:flex;
  flex-wrap:wrap;
}

.box-1 {
    width: 25vw;
    height: 35vh;
    background: linear-gradient(-45deg, #009B3A, #FEDF00, #009B3A, #002776, #009B3A);
    background-size: 200% 200%;
    animation: gradient 24s infinite linear;
}

.box-2 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(0deg, #009B3A, #FEDF00, #009B3A, #002776, #009B3A);
  background-size: 200% 200%;
  animation: gradient-4 24s infinite linear;
}

.box-3 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(0deg, #009B3A, #FEDF00, #009B3A, #002776, #009B3A);
  background-size: 200% 200%;
  animation: gradient-4 24s infinite linear;
}

.box-4 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(45deg, #009B3A, #FEDF00, #009B3A, #002776, #009B3A);
  background-size: 200% 200%;
  animation: gradient-2 24s infinite linear;
}

.box-5 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(-90deg, #009B3A, #FEDF00, #009B3A, #002776, #009B3A);
  background-size: 200% 200%;
  animation: gradient 24s infinite linear;
}

.box-6 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(-90deg, #009B3A, #002776, #009B3A, #FEDF00, #009B3A);
  background-size: 200% 200%;
  animation: gradient 18s infinite linear;
}

.box-7 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(90deg, #009B3A, #002776, #009B3A, #FEDF00, #009B3A);
  background-size: 200% 200%;
  animation: gradient-2 18s infinite linear;
}

.box-8 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(90deg, #009B3A, #FEDF00, #009B3A, #002776, #009B3A);
  background-size: 200% 200%;
  animation: gradient-2 24s infinite linear;
}

.box-9 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(45deg, #009B3A, #002776, #009B3A, #FEDF00, #009B3A);
  background-size: 200% 200%;
  animation: gradient 24s infinite linear;
}

.box-10 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(0deg, #009B3A, #002776, #009B3A, #FEDF00, #009B3A);
  background-size: 200% 200%;
  animation: gradient-3 24s infinite linear;
}

.box-11 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(0deg, #009B3A, #002776, #009B3A, #FEDF00, #009B3A);
  background-size: 200% 200%;
  animation: gradient-3 24s infinite linear;
}

.box-12 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(-45deg, #009B3A, #002776, #009B3A, #FEDF00, #009B3A);
  background-size: 200% 200%;
  animation: gradient-2 24s infinite linear;
}



/* .box-1 {
    width: 25vw;
    height: 35vh;
    background: linear-gradient(-45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
    background-size: 200% 200%;
    animation: gradient 12s infinite linear;
}

.box-2 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(-45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-3 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-4 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-5 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(-45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-6 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(-45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-7 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-8 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-9 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(-45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-10 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(-45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-11 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
}

.box-12 {
  width: 25vw;
  height: 35vh;
  background: linear-gradient(45deg, #F4200F, #E00803, #B20804, #E00803, #F4200F);
  background-size: 200% 200%;
  animation: gradient 12s infinite linear;
} */
/* Concentric Ponds */

.pond-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vw;
  width: 100vw;
  overflow: hidden;
}

.pond {
  height: 85%;
  margin: 0 auto;
  display: block;
}


.pond-5 {
  fill: url(#RadialGradient5);
  z-index: 22;
  padding: 4%;
}

.pond-4 {
  fill: url(#RadialGradient4);
  z-index: 33;
  padding: 10%;
}

.pond-3 {
  fill: url(#RadialGradient3);
  z-index: 44;
  padding: 14%;
}

.pond-2 {
  fill: url(#RadialGradient2);
  z-index: 55;
  padding: 19%;
}

.pond-1 {
  fill: url(#RadialGradient1);
  z-index: 66;
  padding: 25%;
}

/* Animation */

@keyframes gradient {

    0% {
    background-position: left;
    }

    50% {
      background-position: right;
    }

    100% {
      background-position: left;
    }
}

@keyframes gradient-2 {

    0% {
    background-position: right;
    }

    50% {
      background-position: left;
    }

    100% {
      background-position: right;
    }
}

@keyframes gradient-3 {

    0% {
    background-position: bottom;
    }

    50% {
      background-position: top;
    }

    100% {
      background-position: bottom;
    }
}

@keyframes gradient-4 {

    0% {
    background-position: top;
    }

    50% {
      background-position: bottom;
    }

    100% {
      background-position: top;
    }
}
/* @keyframes gradient-vertical {

    0% {
    background-position: right;


    50% {
      background-position: left;
    }

    100% {
      background-position: right;
    }
} */
