/* master rules / wildcards */
* {
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: base-mono-narrow, monospace;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: base-mono-narrow, monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: base-mono-narrow, monospace;
  font-weight: 700;
  font-style: normal;
}

/* main styling */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: base-mono-narrow, monospace;
  font-weight: 300;
  font-style: normal;
  margin-top: 120px;
}

/* features */
.title-bar {
  position: fixed;
  background: white;
  text-align: center;
  width: 100%;
  height: 120px;
  padding-top: 50px;
  top: 0;
  left: 0;
  z-index: 100;
  letter-spacing: 20px;
}

.tri-column {
  max-width: 900px;
  column-count: 3;
  column-gap: 2.2rem;
  column-rule-style: dotted;
  column-rule-width: 1px;
  grid-column-start: auto;
  margin: 60px auto;
  text-align: left;
}

.duo-column {
  max-width: 900px;
  column-count: 2;
  column-gap: 2.2rem;
  column-rule-style: dotted;
  column-rule-width: 1px;
  grid-column-start: auto;
  margin: 60px auto;
  text-align: left;
}

/* -------------------------------------- */
/* typography */
p, h1, h5, h6, ol, ul, dl, dt {
  font-size: 1rem;
  font-weight: 300;
  /* text-align: center; */
}

h1 {
  text-align: center;
  letter-spacing: 20px;
}

h5 {
  text-align: center;
}

h6 {
  text-align: center;
  padding-top: 0;
  margin: 0;
}

aside {
  font-size: .25rem;
  text-align: center;
}

aside:hover {
  font-size: .75rem;
  text-align: center;
}

.fragment {
  text-align: center;
}

/* list styling */
ol {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

li span {
  position: relative;
  left: 2rem;
}

dt {
  text-transform: uppercase;
  text-align: center;
  font-size: .5rem;
  letter-spacing: 20px;
}

dd {
  text-align: center;
}

.descriptive-list {
  break-before: column;
}

/* image styling */
.img {}

/* video row */
.video-box {
  margin-top: -20px;
  margin-left: 60px;
  margin-right: 60px;
  /* padding-bottom: 60px; */
  text-align: center;
  border: 1px dashed black;
}

iframe {
  text-align: center;
  border: 1px dashed black;
}

/* link styling */
a {
  text-decoration: underline;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.hb-link {
  margin-top: 200px;
  text-align: center;
}

.thumb img {
  border: none;
  width: 100vw;
  float: center;
  filter: invert(26%) sepia(99%) saturate(6088%) hue-rotate(20deg) brightness(90%) contrast(98%);
}

.thumb:hover {
  border: 0;
  /* IE6 needs this to show large image */
  z-index: 1;
}

.thumb span {
  position: absolute;
  visibility: hidden;
  width: 25vw;
}

.thumb:hover span {
  cursor: pointer;
  position: relative;
  visibility: visible;
  z-index: 99;
  float: left;
  width: 0px;
}
