/* master rules / wildcards */
* {
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: base-mono-narrow, monospace;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: base-mono-narrow, monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: base-mono-narrow, monospace;
  font-weight: 700;
  font-style: normal;
}

/* main styling */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: base-mono-narrow, monospace;
  font-weight: 300;
  font-style: normal;
  margin-top: 120px;
}

/* features */
.title-bar {
  position: fixed;
  background: white;
  text-align: center;
  width: 100%;
  height: 120px;
  padding-top: 50px;
  top: 0;
  left: 0;
  z-index: 100;
  letter-spacing: 20px;
}

.newspaper {
  max-width: 900px;
  column-count: 3;
  column-gap: 2.2rem;
  column-rule-style: dotted;
  column-rule-width: 1px;
  grid-column-start: auto;
  margin: 60px auto;
  text-align: left;
}

.subtitle {}

/* -------------------------------------- */
/* typography */
p, h1, h5, h6, ol, ul, dl, dt {
  font-size: 1rem;
  font-weight: 300;
  /* text-align: center; */
}

h1 {
  text-align: center;
  letter-spacing: 20px;
}

h5 {
  text-align: center;
}

aside {
  font-size: .25rem;
  text-align; center;
}

aside:hover {
  font-size: .75rem;
  text-align; center;
}

.sidenote {
  text-align: center;
}


/* links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #9237ed;
  text-decoration: none;
}

a:hover {
  color: black;
  font-family: 'junicodebeta-condensedlightitalic';
  padding: 20px;
  background-color: transparent;
}

a:active {
  color: #9237ed;
}

/* list styling */
ul {}

li span {
  position: relative;
  left: 2rem;
}

/* image styling */
.img {}

/* .thumb {
  position: relative;
}

.thumb img {
  border: none;
  width: 70vw;
  float: left;
  margin-left: 0px;
}

.thumb:hover {
  border: 0;
  z-index: 1;
}

.thumb span {
  position: absolute;
  visibility: hidden;
  width: 70vw;
}

.thumb:hover span {
  cursor: pointer;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  visibility: visible;
  z-index: 99;
  float: left;
  width: 0px;
} */
