* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(175, 82, 138);
}

.container {
  background-color: rgb(255, 0, 138);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  background-color: rgb(242, 94, 0);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  animation: phase 180s infinite alternate;
}

.square {
  background-color: rgb(255, 0, 0);
  width: 20vw;
  height: 20vw;
  animation: rotate 10s infinite linear;
}

.runner {
  background-color: rgb(245, 242, 7);
  width:800px;
  height:10px;
  position:fixed;
  bottom:0;
  left:0;
  animation: run 5s infinite linear ;
  box-shadow: 0px -475px 200px 250px #fcfcfc;
}

/* Animation */
@keyframes phase {
  0% {
    background-color: rgb(242, 94, 0);
    transform: scale(1);
  }

  100% {
    background-color: rgb(255, 0, 0);
    transform: scale(10);
  }
}

@keyframes rotate {
  0% {
    background-color: rgb(255, 0, 0);
    transform: rotate(0deg);
  }

  50% {
    background-color: rgb(246, 9, 215);

  }

  100% {
    background-color: rgb(255, 0, 0);
    transform: rotate(360deg);
  }
}

@keyframes run {
  0% {
    transform:translateX(-800px);
    background-color: rgb(255, 0, 0);
  }

  100% {
    transform:translateX(120vw);
    background-color: rgb(246, 9, 215);
  }
}
