* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

p {
  font-family: 'Xanh Mono', monospace;
  font-size: 24px;
  letter-spacing: 1px;
}

.container {
  display: flex;
}

.chair-full {
  display: flex;
}

.text-box-1 {
  font-size: 72px;
  position: absolute;
  right: 20px;
  bottom: 0px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.text-box-2 {
  font-size: 72px;
  position: absolute;
  left: 20px;
  bottom: 0px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.text-box-3 {
  font-size: 72px;
  position: absolute;
  left: 20px;
  top: 10px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.text-box-4 {
  font-size: 72px;
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.chair-photo {
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
}

.chair-placard {
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
}

/* BREAKPOINTS */
/* FIRST MOVEMENT IN */
@media screen and (max-width:1200px) {
  .text-box-1 {
    opacity: 1;
  }
}

/* HALFWAY POINT */
@media screen and (max-width:800px) {
  .text-box-2 {
    opacity: 1;
  }
}

/* B&W PHOTO OF CHAIR */
@media screen and (max-width:600px) {
  .chair-photo {
    opacity: 1;
    position: absolute;
  }

  .text-box-1 {
    opacity: 1;
    color: white;
  }

  .text-box-2 {
    opacity: 1;
    color: white;
  }

  .text-box-3 {
    opacity: 1;
    color: white;
  }
}

/* PLACARD */
@media screen and (max-height:410px) and (max-width:600px) {
  .chair-placard {
    opacity: 1;
    position: absolute;
  }

  .text-box-1 {
    opacity: 1;
    color: black;
  }

  .text-box-2 {
    opacity: 1;
    color: black;
  }

  .text-box-3 {
    opacity: 1;
    color: black;
  }

  .text-box-4 {
    opacity: 1;
  }
}
