* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

p {font-family: 'Xanh Mono', monospace;
  font-size: 24px;
  letter-spacing: 1px;}


.container {
  display: flex;
}

.chair-full {
  display: flex;
}


.text-box-1 {
  font-size: 72px;
  position:absolute;
  right:20px;
  bottom:0px;
}

.text-box-2 {
  font-size: 72px;
  position:absolute;
  right:20px;
  top:20px;
  display:none;
}

.text-box-3 {
  font-size: 72px;
  position:absolute;
  left:20px;
  bottom:0px;
  display:none;
}

.text-box-4 {
  font-size: 72px;
  position:absolute;
  right:20px;
  bottom:0px;
  display:none;
}

.chair-photo {
  display: none;
}

.chair-placard {
  display: none;
}

/* HALFWAY POINT */
@media screen and (max-width:600px) {

  .chair-photo {
    display: inline;
    position: absolute;
  }

  .text-box-2 {
    display: inline;
  }

}/* B&W PHOTO OF CHAIR */
@media screen and (max-width:600px) {

  .chair-photo {
    display: inline;
    position: absolute;
  }

  .text-box-3 {
    display: inline;
  }

}


/* B&W PHOTO OF CHAIR */
@media screen and (max-width:600px) {

  .chair-photo {
    display: inline;
    position: absolute;
  }

  .text-box-3 {
    display: inline;
  }

}

  /* PLACARD */
@media screen and (max-height:410px) and (max-width:600px) {

  .chair-placard {
    display: inline;
    position: absolute;
  }

  .text-box-4 {
    display: inline;
  }

}
