* {
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 84, 3);
  /* margin: 0; */
}

p {
  font-family: 'Xanh Mono', monospace;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(252, 243, 6);
}

img {
  max-width: 300px;
}

.object {
  background-color: rgb(204, 222, 94);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition:
    background-color .5s,
    transform .5s,
    border-radius .5s;
  cursor: cell;
  /* transform:translate(-50%,50%); */
}

.object:hover {
  background-color: rgb(13, 215, 94);
  transform: scale(2);
  border-radius: 0;
}

.special {
  cursor: crosshair;
}

.special:hover {
  color: rgb(7, 19, 190);
  font-family:'Xanh Mono', monospace;
  font-style: italic;
}

.hidden {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition:
    opacity .5s;
}

.special:hover+.hidden {
  opacity: 1;
}

/* Animation */
